In [1]:
import pandas as pd

In [2]:
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv("Mall_Customers.csv")

In [4]:
df.head()

   CustomerID  Gender  Age  Annual Income (k$)  Spending Score (1-100)
0           1    Male   19                  15                      39
1           2    Male   21                  15                      81
2           3  Female   20                  16                       6
3           4  Female   23                  16                      77
4           5  Female   31                  17                      40

In [5]:
df.columns = ['CustomerID','Gender','Age','AnnualIncome','SpendingScore']

In [6]:
df.head()

   CustomerID  Gender  Age  AnnualIncome  SpendingScore
0           1    Male   19            15             39
1           2    Male   21            15             81
2           3  Female   20            16              6
3           4  Female   23            16             77
4           5  Female   31            17             40

## Encode Gender

In [8]:
df_encoded = df.copy()
df_encoded['Gender'] = df_encoded['Gender'].map({'Male':0,'Female':1})
df_encoded.head()

   CustomerID  Gender  Age  AnnualIncome  SpendingScore
0           1       0   19            15             39
1           2       0   21            15             81
2           3       1   20            16              6
3           4       1   23            16             77
4           5       1   31            17             40

## Creating Features

In [9]:
feature_1 = df_encoded[['AnnualIncome','SpendingScore']]
scaler = StandardScaler()
x1_scaler = scaler.fit_transform(feature_1)


x1_scaler[:5]

array([[-1.73899919, -0.43480148],
       [-1.73899919,  1.19570407],
       [-1.70082976, -1.71591298],
       [-1.70082976,  1.04041783],
       [-1.66266033, -0.39597992]])

In [12]:
feature_2 = df_encoded[['Age','AnnualIncome','SpendingScore']]
scaler = StandardScaler()
x2_scaaler = scaler.fit_transform(feature_2)


x2_scaaler[:5]

array([[-1.42456879, -1.73899919, -0.43480148],
       [-1.28103541, -1.73899919,  1.19570407],
       [-1.3528021 , -1.70082976, -1.71591298],
       [-1.13750203, -1.70082976,  1.04041783],
       [-0.56336851, -1.66266033, -0.39597992]])

# Feature Selection and Scaling Explanation

## We experimented with two feature sets:

### Annual Income and Spending Score

### Age,Annual Income and Spending Score

### Gender was encoded numerically to allow it to be used in models if needed.

### We applied StandardScaler because K-Means is distance-based and sensitive to scale.

In [ ]:
###